<polymer-element name="content-layout"> 
	<template>
<div id="location">
	<select id="city-location">
	</select> <select id="district-location">
		<option value="-1">Quận/Huyện</option>
	</select>
</div>
<div id="map-canvas"></div>
<div id="show-device" class="slimScrollDiv">
	<div class="divice-head">
		<div class="widget widget-tabs">
			<!-- Widget heading -->
			<div class="divice-head">
				<ul>
					<li class="goodATM active"><a href="#goodATM"
						data-toggle="tab" class="glyphicons picture">ATM tốt</a></li>
					<li class="errorATM"><a href="#errorATM" data-toggle="tab"
						class="glyphicons font">ATM hỏng</a></li>
				</ul>
			</div>
			<!-- // Widget heading END -->
		</div>
	</div>
	<div class="divice-content">
		<div class="tab-content">
			<div class="tab-pane active" id="goodATM">
				<ol id="ol-devicesGood">
				</ol>
			</div>
			<div class="tab-pane " id="errorATM">
				<ol id="ol-devicesError">
				</ol>
			</div>
		</div>
	</div>
</div>
	</template>
	<script type="application/dart" src="content_layout.dart">
	</script> 
</polymer-element>
