<polymer-element name="form-report-device-by-area">
<meta charset="UTF-8" />
<template>
<style>
</style>
<div class="widget">

<div class="widget-head">
			<h4 class="heading glyphicons list">
				<i></i>Báo cáo theo địa bàn
			</h4>
		</div>
<div class="widget-body" style="padding: 10px">

	<select id="selectorCity" style="margin: 5px;">
	<option value="-1">Thành phố</option>
	</select> 
	<select id="selectorDistrict" style="margin: 5px">
		<option value="-1">Quận/Huyện</option>
	</select>
	<div style="width: 120px; float: right">
	<button id="btnGetReport" class="btn btn-block btn-primary">Tạo báo cáo</button>
	</div>

</div>
</div>
</template>
 <script type="application/dart" src="form_report_device_by_area.dart">
	</script>
</polymer-element>