<link rel="import" href="form_devicepropertives_edit.html">
<link rel="import" href="form_devicepropertives_list.html">
<polymer-element name="form-devicepropertives">
<meta charset="UTF-8" />
<template> 
  <template if="{{currentAction == 'NONE'}}">
    <form-devicepropertives-list on-edit="{{onEdit}}"></form-devicepropertives-list> 
  </template> 
  <template if="{{currentAction == 'EDIT'}}">
    <form-devicepropertives-edit DeviceCon="{{currentDevicePro}}" on-goback={{onGoBack}}></form-devicepropertives-edit>
  </template> 
  
</template> 
<script type="application/dart" src="form_devicepropertives.dart"></script> 
</polymer-element>