<polymer-element name="form-main">
<meta charset="UTF-8" />
<template>
<style>
#map-canvas {
	width: 80%;
	min-height: 550px;
	max-height: 1000px;
	height: 100%;
	float: left;
	color: #000;
	font-family: Arial;
}

#list-province {
	float: left;
	width: 20%;
	min-height: 550px;
	height: auto;
}
#row-fluid{
	height: 100%;
}
</style>
<div id="location">
	<select id="city-location">
	</select> 
	<!-- <select id="district-location">
		<option value="-1">Quận/Huyện</option>
	</select> -->
	<select id="selStatus">
		<option value="-1">Tất cả</option>
		<option value="1">Tốt</option>
		<option value="2">Hỏng</option>
		
	</select>
</div>
<div class="row-fluid">
	<div id="map-canvas"></div>
	<div id="list-province">
	</div>
</div>

</template> <script type="application/dart" src="form_main.dart">
	</script> </polymer-element>
