<link rel="import" href="form_gateway_edit.html">
<link rel="import" href="form_gateway_list.html">
<polymer-element name="form-gateway">
<meta charset="UTF-8" />
<template> 
	<template if="{{currentAction == 'NONE'}}">
		<form-gateway-list on-edit="{{onEdit}}" on-add="{{onAdd}}"></form-gateway-list> 
	</template> 
	<template if="{{currentAction == 'EDIT'}}">
		<form-gateway-edit Gateway="{{currentGateway}}" on-goback={{onGoBack}}></form-gateway-edit>
	</template> 
	
</template> 
<script type="application/dart" src="form_gateway.dart"></script> 
</polymer-element>