<polymer-element name="form-report-device-by-area">
<meta charset="UTF-8" />
<template>
<style>
</style>
<div class="widget">

<div class="widget-head">
			<h4 class="heading glyphicons list">
				<i></i>Báo cáo theo địa bàn
			</h4>
		</div>
<div class="widget-body" style="padding: 10px">
	<span>Theo địa bàn:</span>
	<select id="selectorCity" style="margin: 5px;">
	<option value="-1">Thành phố</option>
	</select> 
	<span>Theo trạng thái:</span>
	<select id="selectorStatus" style="margin: 5px">
		<option value="-1">Tất cả</option>
		<option value="0">Mất kết nối</option>
		<option value="2">Sự cố</option>
	</select>
	<br/>
	<button id="btnGetReport" class="testCommand" style="width:140px ;margin-left: 5px;margin-right: 20px;margin-top: 20px;">Tải về</button>
	<button id="btnViewReport" class="testCommand" style="width:140px ;margin-top: 20px;">Xem báo cáo</button>

</div>
</div>
<!-- <iframe id="iframeReport" hidden="true" src="https://docs.google.com/file/d/0B3wCusJjGhqoN0p0bm9YYVZJRmc/preview" width="100%" height="500px"></iframe> -->
<iframe id="iframeReport" hidden="true" width="100%" ></iframe>

</template>
 <script type="application/dart" src="form_report_device_by_area.dart">
	</script>
</polymer-element>