<link rel="import" href="form_user.html">
<polymer-element name="form-user-none">
<meta charset="UTF-8" />
<template>
	<!-- Heading --> <input type='hidden' id='current_page' /> <input
				type='hidden' id='show_per_page' />
			<div class="heading-buttons">
				<h3 id="show">
					Danh sách tài khoản
				</h3>
				<div class="buttons pull-right">
					<button id="btnAdd" href="#" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Thêm</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="separator bottom"></div>
			<!-- // Heading END -->
			<div class="innerLR">
				<!-- Widget -->
				<div class="widget">
					<!-- Widget heading -->
					<div class="widget-head">
						<h4 class="heading glyphicons list">
							<i></i>Quản lý tài khoản người dùng
						</h4>
					</div>
					<!-- // Widget heading END -->
			
					<div class="widget-body">
			
						<!-- Total products & Sort by options -->
						<div class="form-inline separator bottom small">
							
						</div>
						
								<!-- Filters -->
								<div class="filter-bar">
									<form>
							<!-- Min -->
							<div>
								<label>Tên</label>
								<div class="input-append">
									<input type="text" name="from" id="txtNameSearch" style="width: 100px;" value="" placeholder="Tìm theo tên" />
									<span class="add-on glyphicons search"><i></i></span>
								</div>
							</div>
							<!-- // Min END -->
							
							<!-- Max -->
							<div>
								<label>Email</label>
								<div class="input-append">
									<input type="text" name="from" id="txtEmailSearch" style="width: 150px;" value="" placeholder="Tìm theo địa chỉ mail" />
									<span class="add-on glyphicons search"><i></i></span>
								</div>
							</div>
							<!-- // Max END -->
							
							<!-- Select -->
							<div>
								<label>Trạng Thái:</label>
								<select name="from" id="selStatusSearch" style="width: 100px;">
									<option value="Kích Hoạt">Kích Hoạt</option>
									<option value="1">Không Kích Hoạt</option>
								</select>
							</div>
							<!-- // Select END -->
								
								<div class="clearfix"></div>
							</form>
						</div>
						<!-- // Filters END -->
						
						<!-- // Total products & Sort by options END -->
						<!-- Products table -->
						<table
							class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs">
							<thead>
								<tr>
									<th style="width: 1%;" class="center">STT</th>
									<th>Họ tên</th>
									<th style="width:15%;">Tên đăng nhập</th>
									<th style="width:10%;" class="center">Giới tính</th>
									<th style="width:10%;" class="center">Email</th>
									<th style="width:10%;" class="center">Điện thoại</th>
									<th style="width:10%;" class="center">Trạng thái</th>
									<th style="width:10%;" class="center" style="width: 60px;">Sửa/Xóa</th>
								</tr>
							</thead>
							<tbody id="ListUsers">
							</tbody>
						</table>
						<!-- // Products table END -->
			
						<!-- Options -->
						<div class="separator top form-inline small">
			
							<!-- Pagination -->
							<div class="pagination pagination-small pull-right"
								style="margin: 0;">
								<span style="float: left;margin-right: 10px;margin-top: 3px;" id="totalUsers"></span>
								<ul id="pagination">
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- // Options END -->
			
					</div>
				</div>
				<!-- // Widget END -->
			
			</div>
	</template>			
</template>
<script type="application/dart" src="form_user_none.dart"></script>
</polymer-element>