<polymer-element name="form-pass-change">
<meta charset="UTF-8" /> 
<template>
	<!-- Wrapper -->
	<div id="login">
		<div class="wrapper signup">
				<!-- Box -->
				<div class="widget">
					<div class="widget-head">
						<h3 class="heading">Đổi mật khẩu</h3>
					</div>
					<div class="widget-body">
			
						<!-- Form -->
						<form method="post" action="">
						
						<!-- Row -->
						<div class="row-fluid row-merge">
						
							<!-- Column -->
							<div class="span6">
								<div class="innerR">
									<label class="strong">Tên đăng nhập</label>
									<input type="text" id="inputUsername" disabled="disabled" class="input-block-level" placeholder="Tên đăng nhập"/>
									
									<label class="strong">Mật khẩu cũ</label>
									<input type="password" id="inputPasswordOld" class="input-block-level" placeholder="Mật khẩu cũ"/>
									
								</div>
							</div>
							<!-- // Column END -->
							
							<!-- Column -->
							<div class="span6">
								<div class="innerL">
									<label class="strong">Mật khẩu mới</label>
									<input type="password" id="inputPasswordNew" class="input-block-level" placeholder="Mật khẩu mới"/>
									<label class="strong">Nhập lại mật khẩu mới</label>
									<input type="password" id="inputPasswordNew2" class="input-block-level" placeholder="Nhập lại mật khẩu mới"/>
									
								</div>
							</div>
							<!-- // Column END -->
							
						</div>
						<!-- // Row END -->
						
						</form>
						<!-- // Form END -->
			
			
					</div>
					<!-- // Box END -->
					
				</div>
				
		</div>
		
	</div>
	<!-- // Wrapper END -->	
<!-- Bottom buttons -->
					<div class="heading-buttons">
						<div class="buttons pull-right" style="margin: 0;">
								<button id="btnSaveChangePass" type="button" style="margin-top:10px; float: right;" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Lưu thay đổi</button>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- // Bottom buttons END -->
				</div>
</template>
	<script type="application/dart" src="form_pass_change.dart">
	</script> 
</polymer-element>