<link rel="import" href="form_device.html">
<polymer-element name="form-device-none">
<meta charset="UTF-8" />
<style>
</style>
<template>
<style>
.properties {
	
}

.properties ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.properties ul {
	margin: 0px;
	padding: 5px;
	list-style: none;
}

.properties ul li {
	width: 45%;
	color: #fffff;
	float: left;
	margin-left: 10px;
	min-height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-family: Calibri;
}

.properties ul li span.error{
	color: #fff;
}
.properties ul li span.error strong{
	color: red;
}
.properties ul li span.normal strong{
	color: green;
}
.Clear {
	clear: both;
}

.FooterPopup {
	padding: 10px;
}
</style>
<!-- Heading --> <input type='hidden' id='current_page' /> <input
	type='hidden' id='show_per_page' />
<div class="heading-buttons">
	<h3 id="show">
		Danh sách trạm<span> | ATM</span>
	</h3>
	<div class="buttons pull-right">
		<button id="btnAdd" href="#"
			class="btn btn-primary btn-icon glyphicons circle_plus">
			<i></i>Thêm
		</button>
	</div>
	<div class="clearfix"></div>
</div>
<div class="separator bottom"></div>
<!-- // Heading END -->

<div class="widget" style="height: 100%;">
	<div class="widget-body"
		style="height: 100%; border: 10px; border-color: white;">
		<div class="filter-bar">
			<form>
				<!-- Select -->
				<div>
					<label>Select:</label> <select name="from" style="width: 80px;">
						<option>Some option</option>
						<option>Other option</option>
						<option>Some other option</option>
					</select>
				</div>
				<!-- // Select END -->

				<div class="clearfix"></div>
			</form>
		</div>
		<div class="form-inline separator bottom small">
			<span id="totalDevice"></span>
		</div>

		<!-- device list -->
		<table
			class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs">
			<thead>
				<tr>
					<th style="width: 1%;" class="center">STT</th>
					<th>Địa chỉ</th>
					<th style="width: 10%;" class="center">Mã trạm</th>
					<th class="center">Kinh tuyến</th>
					<th class="center">Vĩ tuyến</th>
					<th class="center">Trạng thái</th>
					<th class="center" style="width: 60px;">Sửa/Xóa</th>
				</tr>
			</thead>
			<tbody id="ListDevices">
			</tbody>
		</table>
		<!-- Options -->
		<div class="separator top form-inline small">
			<!-- Pagination -->
			<div class="pagination pagination-small pull-right"
				style="margin: 0;">
				<ul id="pagination">
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- // Options END -->
		<!-- device detail -->
		<div id="device-detail" class="widget widget-tabs widget-quick">
			<div class="widget-head">
				<ul id="device-detail-header">
				</ul>
			</div>
			<div class="widget-body">
				<div class="tab-content" id="device-detail-content"></div>
			</div>
		</div>
	</div>
</div>

</template> <script type="application/dart" src="form_device_none.dart"></script> </polymer-element>