<link rel="import" href="form_devicepropertives_edit.html">
<polymer-element name="form-devicepropertives-edit">
<meta charset="UTF-8" />
<template>
<h3>Thông tin cảm biến</h3>
	<!-- Wrapper -->
	<div id="login">
		<div class="wrapper signup">
				<!-- Box -->
				<div class="widget">
					<div class="widget-head">
						<h3 class="heading">Device Propertives</h3>
					</div>
					<div class="widget-body">
			
						<!-- Form -->
						<form method="post" action="index.html?lang=en&amp;layout_type=fixed&amp;menu_position=menu-left&amp;style=style-dark">
						
						<!-- Row -->
						<div class="row-fluid row-merge">
						
							<!-- Column -->
							<div class="span6">
								<div class="innerR">
									<label class="strong">Name</label>
									<input type="text" id="txtName" class="input-block-level" placeholder="Tên Thiết bị"/>
									
									<label class="strong">Code</label>
									<input type="text" id="txtCode" class="input-block-level" placeholder="Mã thuộc tính"/>
									
									<label class="strong">Symbol</label>
									<input type="text" id="txtSymbol" class="input-block-level" placeholder="Biểu tượng"/>
									<label class="strong">Description</label>
									<input type="text" id="txtDescription" class="input-block-level" placeholder="Miêu tả"/>
									
									<label class="strong">Type</label>
									<select id="selType" class=""strong">
										<option value="Cảm biến">Cảm biến</option>
										<option value="Công tắc">Công tắc</option>										
									</select>
							</div>
						</div>
							<!-- // Column END -->
							
							<!-- Column -->
							<div class="span6">
								<div class="innerL">
									<label class="strong">Min</label>
									<input type="text" id="txtMin" class="input-block-level" placeholder="Giá trị nhỏ nhất"/>
									<label class="strong">Max</label>
									<input type="text" id="txtMax" class="input-block-level" placeholder="Giá trị lớn nhất"/>
									<label class="strong">Min Alarm</label>
									<input type="text" id="txtMinWar" class="input-block-level" placeholder="Giá trị nhỏ nhất cho phép"/>
									<label class="strong">Max Alarm</label>
									<input type="text" id="txtMaxWar" class="input-block-level" placeholder="Giá trị lớn nhất cho phép"/>			
									
								</div>
							</div>
							<!-- // Column END -->
							
						</div>
						<!-- // Row END -->
						</div>
						</form>
						<!-- // Form END -->
			
			
					</div>
					<!-- // Box END -->
					
				</div>
				
		</div>
		
	</div>
	<!-- // Wrapper END -->	
<!-- Bottom buttons -->
					<div class="heading-buttons">
						<div class="buttons pull-right" style="margin: 0;">
							<button id="btnCancel" class="btn btn-default btn-icon glyphicons share"><i></i>Thoát</button>
								<button id="btnSave" class="btn btn-primary btn-icon glyphicons ok_2" id="Save2"><i></i>Lưu</button>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- // Bottom buttons END -->

</template> <script type="application/dart" src="form_devicepropertives_edit.dart">
  </script> </polymer-element>