<link rel="import" href="form_area.html">
<polymer-element name="form-area-add">
<meta charset="UTF-8" /> 
	<template>
	<div class="heading-buttons">
					<h3>Thêm địa bàn<span> | ATM</span></h3>
					<div class="buttons pull-right">
						<button id="btnExit" class="btn btn-default btn-icon glyphicons share"><i></i>Thoát</button> 
							<button class="btn btn-primary btn-icon glyphicons ok_2" id="Save1"><i></i>Lưu</button>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="separator bottom"></div>
				<!-- // Heading END -->
				<div class="innerLR">
					<!-- Widget -->
					<div class="widget widget-tabs">
						<!-- Widget heading -->
						<div class="widget-head">
						<p id="suscess" class="suscess"></p>
						</div>
						<!-- // Widget heading END -->
						<div class="widget-body">
							<div class="tab-content">
								<!-- Description -->
								<div class="tab-pane active" id="productDescriptionTab">
									<!-- Row -->
									<div class="row-fluid">
										<!-- Column -->
										<div class="span6">
											<label for="inputTitle">Địa chỉ</label> 
											<input id="address" type="text" value="" class="span10" placeholder="Địa chỉ">
											<label id="ErrorAddress" class="error"></label>
											<label for="inputTitle">Mã khu vực</label> 
											<input id="code" type="text" class="span10" placeholder="Mã khu vực">
											<label id="ErrorCode" class="error"></label>
											<label for="inputTitle">trạng thái </label>
											<select id="status" class="span5">	
												<option value="1" selected>Tốt</option>
												<option value="0">Hỏng</option>
											</select>
											<div class="separator"></div>
										</div>
										<!-- // Column END -->
										<!-- Column -->
										<div class="span6">
											<label for="inputTitle" >Địa chỉ</label>
											<input type="text" id="fullAddress" class="span12" value="" placeholder="Địa chỉ google" readonly/>

											<div id="show-map"></div>
										</div>
										<!-- // Column END -->
									</div>
									<!-- // Row END -->

								</div>
								<!-- // Description END -->
							</div>
						</div>
					</div>
					<!-- // Widget END -->

					<!-- Bottom buttons -->
					<div class="heading-buttons">
						<div class="buttons pull-right" style="margin: 0;">
							<button id="btnCancel" class="btn btn-default btn-icon glyphicons share"><i></i>Thoát</button>
								<button id="btnSave" class="btn btn-primary btn-icon glyphicons ok_2"><i></i>Lưu</button>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- // Bottom buttons END -->
				</div>
	</template>		
	<script type="application/dart" src="form_area_add.dart"></script>
</polymer-element>