<polymer-element name="form-devicepropertives-list">
<meta charset="UTF-8" /> 
<template> <!-- Heading --> <input type='hidden'
	id='current_page' /> <input type='hidden' id='show_per_page' />
<div class="heading-buttons">
	<h3 id="show">Danh sách thuộc tính thiết bị</h3>
	<button id="btnAdd" style="margin-top:10px; float: right;" class="btn btn-icon btn-primary glyphicons circle_ok">
  <i></i>Add
  </button>
	<div class="clearfix"></div>
</div>
<div class="separator bottom"></div>
<!-- // Heading END -->
<div class="innerLR">
	<!-- Widget -->
	<div class="widget">

		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading glyphicons list">
				<i></i>Danh sách thuộc tính thiết bị
			</h4>
		</div>
		<div class="widget-body">
			<!-- Filters -->
								<div class="filter-bar">
									<form>
							<!-- Min -->
							<div>
								<label>Theo tên:</label>
								<div class="input-append">
									<input type="text" name="from" id="txtNameSearch" style="width: 100px;" value="" placeholder="Tìm theo tên" />
									<span class="add-on glyphicons search"><i></i></span>
								</div>
							</div>
							<!-- // Min END -->
							
							<!-- Max -->
							<div>
								<label>Theo mã:</label>
								<div class="input-append">
									<input type="text" name="from" id="txtCodeSearch" style="width: 150px;" value="" placeholder="Tìm theo mã" />
									<span class="add-on glyphicons search"><i></i></span>
								</div>
							</div>
							<!-- // Max END -->
							
							<!-- Select -->
							<div>
								<label>Theo loại:</label>
								<select name="from" id="selTypeSearch" style="width: 100px;">
									<option value="Cảm Biến">Cảm Biến</option>
									<option value="Công Tắc">Công Tắc</option>
								</select>
							</div>
							<!-- // Select END -->
								
								<div class="clearfix"></div>
							</form>
						</div>
						<!-- // Filters END -->
			<!-- Products table -->
			<table
				class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs">
				<thead>
					<tr>
						<th style="width: 20%;vertical-align:middle;" class="center">Tên cảm biến</th>
						<th style="width: 5%;vertical-align:middle;" class="center">Mã</th>
						<th style="vertical-align:middle;" class="center">Mô tả</th>						
						<th style="width: 5%;vertical-align:middle;" class="center">Loại</th>
						<th style="width: 5%;vertical-align:middle;" class="center">Nhỏ Nhất</th>
						<th style="width: 5%;vertical-align:middle;" class="center">Lớn Nhất</th>
						<th style="width: 5%;vertical-align:middle;" class="center">Ngưỡng cảnh báo dưới</th>
						<th style="width: 5%;vertical-align:middle;" class="center">Ngưỡng cảnh báo trên</th>
						<th style="width: 5%;vertical-align:middle;" class="center">Đơn vị</th>
						<th style="width: 10%;vertical-align:middle;" class="center">Thao tác</th>
						
					</tr>
				</thead>
				<tbody id="ListDevicesPro">
				</tbody>
			</table>
			<div class="separator top form-inline small">

				<!-- Pagination -->
				<div class="pagination pagination-small pull-right"
					style="margin: 0;">
					<ul id="pagination">
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</div>
</template>
	<script type="application/dart" src="form_devicepropertives_list.dart">
	</script> 
</polymer-element>