<link rel="import" href="form_device_none.html">
<link rel="import" href="form_device_add.html">
<polymer-element name="form-device">
<meta charset="UTF-8" /> 
<template>
	<template if="{{currentAction == 'NONE'}}">
		<form-device-none on-edit="{{onEdit}}" on-add="{{onAdd}}"></form-device-none>
	</template>
	<template if="{{currentAction == 'EDIT'}}">
		<form-device-add on-Goback="{{onGoback}}" action="{{currentAction}}" device="{{currentDevice}}"></form-device-add>
	</template>
	<template if="{{currentAction == 'ADD'}}">
		<form-device-add on-Goback="{{onGoback}}" action="{{currentAction}}"></form-device-add>
	</template>
</template>
	<script type="application/dart" src="form_device.dart">
	</script> 
</polymer-element>