<link rel="import" href="form_device_none.html">
<link rel="import" href="form_device_edit.html">
<polymer-element name="form-device">
<meta charset="UTF-8" /> 
<template>
	<template if="{{currentAction == 'NONE'}}">
		<form-device-none on-edit="{{onEdit}}"></form-device-none>
	</template>
	<template if="{{currentAction == 'EDIT'}}">
		<form-device-edit device="{{currentDevice}}" on-Goback={{onGoback}}></form-device-edit>
	</template>
</template>
	<script type="application/dart" src="form_device.dart">
	</script> 
</polymer-element>