<polymer-element name="form-report-device-by-area">
<meta charset="UTF-8" />
<template>
<style>
</style>
<div class="widget">

<div class="widget-head">
			<h4 class="heading glyphicons list">
				<i></i>Báo cáo theo khu vực
			</h4>
		</div>
	<div class="widget-body">
		<div class="row-fluid">

			<!-- Column -->
			<div class="span6">
				<!-- Group -->
				<div class="control-group">
					<label class="control-label" for="firstname">Khu vực: </label>
					<div class="controls">
						<select id="selectorCity" class="span12"" >
						</select>
					</div>
				</div>
				<!-- // Group END -->
			</div>
			<!-- // Column END -->
			<!-- Column -->
			<div class="span6">
				<!-- Group -->
				<div class="control-group">
					<label class="control-label" for="firstname">Trạng thái:</label>
					<div class="controls">
						<select id="selectorStatus" class="span12"" >
							<option value="-1">Tất cả</option>
							<option value="0">Mất kết nối</option>
							<option value="2">Sự cố</option>
						</select>
						
					</div>
				</div>
				<!-- // Group END -->
			</div>
			<!-- // Column END -->
		</div>
		<div class="form-actions" style="padding-left: 2px">
			<button id="btnViewReport"
				class="testCommand btn-icon btn-primary glyphicons circle_ok" style="margin-right: 5px;">
				<i></i>Xem
			</button>
			<button id="btnGetReport"
				class="testCommand btn-icon btn-primary glyphicons circle_ok">
				<i></i>Tải về
			</button>
		</div>
	</div>
</div>
<!-- <iframe id="iframeReport" hidden="true" src="https://docs.google.com/file/d/0B3wCusJjGhqoN0p0bm9YYVZJRmc/preview" width="100%" height="500px"></iframe> -->
<iframe id="iframeReport" hidden="true" height="500px" width="100%" ></iframe>

</template>
 <script type="application/dart" src="form_report_device_by_area.dart">
	</script>
</polymer-element>