<link rel="import" href="form_device.html">
<polymer-element name="form-device-none">
<meta charset="UTF-8" /> 
	<template>
	<!-- Heading --> 
	<input type='hidden' id='current_page' /> 
	<input type='hidden' id='show_per_page' />
<div class="heading-buttons">
	<h3 id="show">
		Danh sách trạm<span> | ATM</span>
	</h3>
	<div class="buttons pull-right">
		<button id="btnAdd" href="#"
			class="btn btn-primary btn-icon glyphicons circle_plus">
			<i></i>Thêm
		</button>
	</div>
	<div class="clearfix"></div>
</div>
<div class="separator bottom"></div>
<!-- // Heading END -->

<div class="widget" style="height:100%;">
	<div class="widget-body" style="height:100%;border: 10px;border-color: white;">
		<div class="filter-bar">
			<form>
				<!-- Select -->
				<div>
					<label>Select:</label> <select name="from" style="width: 80px;">
						<option>Some option</option>
						<option>Other option</option>
						<option>Some other option</option>
					</select>
				</div>
				<!-- // Select END -->

				<div class="clearfix"></div>
			</form>
		</div>
		<!-- Total products & Sort by options -->
		<div class="form-inline separator bottom small">
		<span id="totalDevice"></span>
		</div>
		<!-- // Total products & Sort by options END -->

		<!-- Products table -->
		<table
			class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs">
			<thead>
				<tr>
					<th style="width: 1%;" class="center">STT</th>
					<th>Địa chỉ</th>
					<th style="width: 10%;" class="center">Mã trạm</th>
					<th class="center">Kinh tuyến</th>
					<th class="center">Vĩ tuyến</th>
					<th class="center">Trạng thái</th>
					<th class="center" style="width: 60px;">Sửa/Xóa</th>
				</tr>
			</thead>
			<tbody id="ListDevices">
			</tbody>
		</table>
		<!-- // Products table END -->

		<!-- Options -->
		<div class="separator top form-inline small">

			<!-- Pagination -->
			<div class="pagination pagination-small pull-right"
				style="margin: 0;">
				<ul id="pagination">
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- // Options END -->
		<!-- device properties -->
		<!-- <template if="{{listDevices.length>0}}"> -->
		<div class="widget widget-tabs widget-quick">
			<!-- Widget heading -->
			<div class="widget-head">
				<ul>
					<li class="active"><a href="#reviewsTab" data-toggle="tab"
						class="glyphicons star"><i></i>Thông tin</a></li>
					<li class=""><a href="#deliveryTab" data-toggle="tab"
						class="glyphicons car"><i></i>Cấu hình</a></li>
					<li class=""><a href="#deliveryTab" data-toggle="tab"
						class="glyphicons car"><i></i>Lịch sử tác động</a></li>
					<li class=""><a href="#deliveryTab" data-toggle="tab"
						class="glyphicons car"><i></i>Lịch sử sự cố</a></li>	
				</ul>
			</div>
			<!-- // Widget heading END -->
			<div class="widget-body">
				<div class="tab-content">
					<div class="tab-pane active" id="deliveryTab">
						<!-- <div id="device-properties-chart" style="margin: auto;width: 100%;height: 300px">
						</div> -->
					</div>
					<!-- // Delivery Tab END -->
				</div>
			</div>
		</div>
		<!-- </template> -->
		<!-- end device properties -->
	</div>
</div>

</template>		
	<script type="application/dart" src="form_device_none.dart"></script>
</polymer-element>