<link rel="import" href="form_device.html">
<link rel="import" href="form_area.html">
<link rel="import" href="form_login.html">
<link rel="import" href="form_main.html">
<link rel="import" href="tool_bar.html">
<link rel="import" href="main_menu.html">
<polymer-element name="main-application">
<meta charset="UTF-8" />
<template> <!-- Main Container Fluid -->
<style>
main-application  > .container-fluid {
	height:100%;
  padding: 0;
  background: #262626;
}
main-application > .container-fluid.fixed {
  margin: 30px auto 30px;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  width: 94%;
}
main-application > .container-fluid.documentation {
  background: #fff;
}
main-application > .container-fluid.fixed {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
main-application > .container-fluid.fixed #wrapper {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
main-application > .container-fluid.fixed #content {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
main-application > #main-content #wrapper{
	height: 100%;
}
main-application > #main-content #wrapper #menu{
}
main-application > #main-content #wrapper #content{
}
.dark-class {
	background-color: #F0F0F0;
	filter: alpha(opacity =       50); /* IE */
	opacity: 0.2; /* Safari, Opera */
	-moz-opacity: 0.2; /* FireFox */
	z-index: 10002;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
}
#floatingCirclesG{
position:relative;
width:128px;
height:128px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:23px;
width:23px;
-moz-border-radius:12px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.12s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:12px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.12s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:12px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.12s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:12px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.12s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:12px;
animation-name:f_fadeG;
animation-duration:1.12s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:52px;
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#frotateG_02{
left:15px;
top:15px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#frotateG_03{
left:52px;
top:0;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#frotateG_04{
right:15px;
top:15px;
-moz-animation-delay:0.84s;
-webkit-animation-delay:0.84s;
-ms-animation-delay:0.84s;
-o-animation-delay:0.84s;
animation-delay:0.84s;
}

#frotateG_05{
right:0;
top:52px;
-moz-animation-delay:0.98s;
-webkit-animation-delay:0.98s;
-ms-animation-delay:0.98s;
-o-animation-delay:0.98s;
animation-delay:0.98s;
}

#frotateG_06{
right:15px;
bottom:15px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#frotateG_07{
left:52px;
bottom:0;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#frotateG_08{
left:15px;
bottom:15px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#182370}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#182370}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#182370}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#182370}

100%{
background-color:#FFFFFF}

}

@keyframes f_fadeG{
0%{
background-color:#182370}

100%{
background-color:#FFFFFF}

}

</style>
<template if="{{listNotify.length>0}}"> 
	<ul id="notyfy_container_top" class="notyfy_container">
		<template repeat="{{notify in listNotify}}">
			<li class='notyfy_wrapper {{notify["type"]}}' style="cursor: pointer;height: auto;">
				<div class="notyfy_bar">
					<div class="notyfy_message">
						<span class="notyfy_text"> {{notify["message"]}}</span>
					</div>
					<template if='{{notify["type"]=="notyfy_confirm"}}'>
						<div class="notyfy_buttons">
							<button class="btn btn-success btn-small btn-icon glyphicons ok_2">
								<i></i> Ok
							</button>
							<button class="btn btn-danger btn-small btn-icon glyphicons remove_2">
								<i></i> Cancel
							</button>
						</div>
					</template>
				</div>
			</li>
		</template>
</ul>
</template>
<template if="{{showCircleLoader}}">
<div class="dark-class">
	<div id="floatingCirclesG" style="top: 45%; left: 45%;">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>
</template>
<template if="{{!isLogin}}">
	<form-login></form-login>
</template>
<template if="{{isLogin}}">
	<main-menu></main-menu>
</template>
<!-- // Main Container Fluid END -->
</template> <script charset="utf-8"
	type="application/dart" src="main.dart">
</script> </polymer-element>
