<polymer-element name="tool-bar">
<meta charset="UTF-8" />
<template>
<div class="navbar main hidden-print " id="tool-bar">
	<div class="wrapper">
		<button type="button" class="btn btn-navbar" id="btn-navbar"
			on-click="{{onToogleMenu}}">
			<span class="icon-bar"> </span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<!-- Top Menu Right -->
		<ul class="topnav pull-right" id="ul-language">

			<!-- Language menu -->
			<li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav"><a
				href="#" data-toggle="dropdown"><img
					src="style/images/lang/vn.png" alt="en" /></a>
				<ul class="dropdown-menu pull-left">
					<li class="active"><a
						href="?page=blank&amp;layout_type=fixed&amp;menu_position=menu-left&amp;style=style-dark&amp;lang=en"
						title="English"><img class="IconCountry"
							src="style/images/lang/en.png" alt="English"> English</a></li>
				</ul></li>
			<!-- // Language menu END -->

			<!-- Dropdown -->
			<li class="dropdown dd-1 visible-desktop" id="help_nav"><a
				href="#" data-toggle="dropdown" class="glyphicons shield"><i></i>Trợ giúp 
				<span class="caret"></span></a>
				<ul class="dropdown-menu pull-right">

					<li><a href="" class="glyphicons bell"><i></i>Hướng dẫn</a></li>
					<li><a href="" class="glyphicons settings"><i></i>Hệ thống</a></li>
					<li><a href="" class="glyphicons bell"><i></i>Liên hệ </a></li>

				</ul></li>
			<!-- // Dropdown END -->

			<!-- Profile / Logout menu -->
			<li class="account dropdown dd-1" id="account_nav">
				<ul class="dropdown-menu pull-right">
					<li class="profile">
						<span> 
							<span class="heading">Profile </span>  
							<span class="details"> Email: <a>{{email}}</a></span>
							<span class="details"> Ngày tạo: </span>
							<span class="clearfix"></span>
						</span>
					</li>
					<li><span> <a
							class="btn btn-default btn-mini pull-right">Sign Out</a>
					</span></li>
				</ul> <a href="#" data-toggle="dropdown" class="glyphicons logout lock">
					{{userName}} <i></i> <span class="caret"></span>
			</a>
			</li>
			<!-- // Profile / Logout menu END -->

		</ul>
		<!-- // Top Menu Right END -->
		<div class="clearfix"></div>
	</div>
	<span class="toggle-navbar"></span>
</div>
</template> <script type="application/dart" src="tool_bar.dart"></script> </polymer-element>